################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VitalSigns/obj
/VitalSigns/bin/Debug/net6.0
#.dockerignore
#.gitlab-ci.yml
#/.gitlab-ci.yml
Dockerfile
Kham.rar
#devops/
Morkup_TienMe_v1.1.rar
Morkup_TienMe_v1.2.rar
Tools/DDT/FileWatchingDDTService/.vs/
Tools/DDT/FileWatchingDDTService/packages/
Tools/DDT/FileWatchingDDTService/FileWatchingDDTService/obj/
Tools/DDT/FileWatchingDDTService/FileWatchingDDTService/bin/
Tools/DDT/FileWatchingDDTService/FileWatching/obj/
Tools/DDT/FileWatchingDDTService/FileWatching/bin/
/VitalSigns/Controllers/DienTimDoController.cs
/VitalSigns/Rotativa/Linux/wkhtmltopdf
/VitalSigns/Rotativa/Mac/wkhtmltopdf
/VitalSigns/Rotativa/Windows/wkhtmltopdf.exe
/VitalSigns/Rotativa.zip
/VitalSigns/Rotativa/Windows/wkhtmltopdf.exe
/VitalSigns/Rotativa/Mac/wkhtmltopdf
/VitalSigns/Rotativa/Linux/wkhtmltopdf
/VitalSigns/Controllers/DienTimDoController.cs
/VitalSigns/Rotativa.csproj
VitalSigns/bin/
VitalSigns/wwwroot/Data/DDT/22905075_230624230309433999.jpg
VitalSigns/wwwroot/Data/DDT/22905075_230624230309433999.pdf
VitalSigns/wwwroot/Data/DDT/22905075_230624230309433999.txt
VitalSigns/wwwroot/Data/DDT/23691281_230721152131227774.jpg
VitalSigns/wwwroot/Data/DDT/23691281_230721152131227774.pdf
VitalSigns/wwwroot/Data/DDT/23691281_230721152131227774.txt
VitalSigns/wwwroot/Data/DDT/23691372_230721141438334898.jpg
VitalSigns/wwwroot/Data/DDT/23691372_230721141438334898.pdf
VitalSigns/wwwroot/Data/DDT/23691372_230721141438334898.txt
VitalSigns/wwwroot/Data/DDT/23691544_230724151610083368.jpg
VitalSigns/wwwroot/Data/DDT/23691544_230724151610083368.pdf
VitalSigns/wwwroot/Data/DDT/23691544_230724151610083368.txt
obj/
bin/
*.bak
/VitalSigns/serilog-buffer/log-20231027_042.txt
/VitalSigns/serilog-buffer/log-20231027_043.txt
/VitalSigns/serilog-buffer/log.bookmark
VitalSigns/serilog-buffer/
/FW/TAH.Entity/Model/ERM_DANHGIA/ERM_DANHGIATENGATREEM.cs
/VitalSigns/Views/DienBien/InChiTietDienBien.cshtml
/VitalSigns/wwwroot/Data/
*.user
/VitalSigns/Constants/ApiEggHelper.cs
/VitalSigns/Constants/IApiHelper.cs
VitalSigns/
